[Desktop Entry]
Name=VNIKey Input Method
Comment=Bộ gõ tiếng Việt VNIKey cho Linux
Exec=vnikey.sh
Icon=input-keyboard
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
